sqlite3.exe
*.swp
sqlite3-full.init
*.sqlite
*.db
*.csv
*.iml
.gradle
.idea/misc.xml
/local.properties
/.idea/caches
/.idea/libraries
/.idea/modules.xml
/.idea/workspace.xml
/.idea/navEditor.xml
/.idea/assetWizardSettings.xml
.DS_Store
/build
/captures
.externalNativeBuild
.cxx
sqlite.exe
*.json
.idea/.name