<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.nutritionapp">

    <application
        android:name="com.example.nutritionapp.DefaultApplication"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/SplashTheme">
        <activity android:name="com.example.nutritionapp.Test_chart"/>
        <activity android:name="com.example.nutritionapp.recommendation.recommendations" />
        <activity android:name="com.example.nutritionapp.deprecated.updateAge" />
        <activity android:name="com.example.nutritionapp.configuration.PersonalInformation" />
        <activity android:name="com.example.nutritionapp.customFoods.AddMinerals" />
        <activity android:name="com.example.nutritionapp.customFoods.AddVitamins" />
        <activity android:name="com.example.nutritionapp.customFoods.CreateNewFoodItem" />
        <activity android:name="com.example.nutritionapp.customFoods.CreateFoodOverview" />
        <activity android:name="com.example.nutritionapp.foodJournal.FoodJournalOverview" />
        <activity android:name="com.example.nutritionapp.foodJournal.AddFoodToJournal" />
        <activity android:name="com.example.nutritionapp.MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.DEFAULT"/>
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>